name: Overtime Calculator CI/CD

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Java
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Install SDKMAN!
      run: |
        curl -s "https://get.sdkman.io" | bash
        source "$HOME/.sdkman/bin/sdkman-init.sh"

    - name: Install Kotlin using SDKMAN!
      run: |
        source "$HOME/.sdkman/bin/sdkman-init.sh"
        sdk install kotlin

    - name: Check if gradlew exists and is executable
      run: |
        ls -l ./kotlin/gradlew
        file ./kotlin/gradlew

    - name: Build with Gradle
      run: ./kotlin/gradlew build
